

.topsection {
	width: 100%;
	height: auto;
	background-color: lightgrey;
	

}
header>img{
	text-align: center;
}


ul {
	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: lightblue;
}

li {
	display: inline-block;

}

li a {
	text-decoration: none;
	color: black;
}

li a:hover {
	background-color: red;
}
main{
	width: 100%;
	height: auto;
}
main:hover{
	background-color: yellow;
}

main a {
	display: block;
	text-decoration: none;
	background-color: grey;
	color: black;

}

main a:hover {
	background-color: yellow;
	background-color: lightblue;
	color: white;
	border: 1px solid red;
	font-size: 25px;
}

footer{
	border: 1px solid red;
	text-align: center;
}

footer:hover{
	background-color: yellow;
	border-radius: 50px;
}




